document==1.0
fastapi==0.115.0
jieba==0.42.1
langchain==0.2.11
langchain_community==0.2.10
langchain_core==0.2.28
langchain_huggingface==0.0.3
langchain_text_splitters==0.2.2
numpy==1.26.4
pydantic==1.10.17
pyLDAvis==3.4.1
redis==5.1.1
Requests==2.32.3
scikit_learn==1.5.1
sentence_transformers==3.0.1
torch==2.3.1
torch_xla==2.5.1
tqdm==4.66.4
transformers==4.42.3
uvicorn==0.30.6
